<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="log.txt">
      <layout xsi:type="CsvLayout">
        <withHeader>true</withHeader>
        <column name="Date" layout="${date:universalTime=True:format=o}" />
        <column name="Server" layout="${machinename}" />
        <column name="Identity" layout="${aspnet-user-identity}" />
        <column name="Url" layout="${aspnet-url}" />
        <column name="Logger" layout="${logger}" />
        <column name="Identity" layout="${aspnet-user-identity}" />
        <column name="SessionId" layout="${aspnet-request:cookie=ASP.NET_SessionId}" />
        <column name="Source" layout="${callsite}" />
        <column name="Level" layout="${level}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
        <column name="Ip" layout="${aspnet-request:serverVariable=remote_addr}" />
        <column name="UserAgent" layout="${useragent}" />
      </layout>
    </target>
    <target name="logfile_crash" xsi:type="File" fileName="log_crash.txt">
      <layout xsi:type="CsvLayout">
        <withHeader>true</withHeader>
        <column name="Date" layout="${date:universalTime=True:format=o}" />
        <column name="Server" layout="${machinename}" />
        <column name="Application" layout="${gdc:item=Application}" />
        <!--<column name="ThreadId" layout="${threadid}" />-->
        <column name="ThreadCulture" layout="${threadculture}" />
        <column name="Identity" layout="${aspnet-user-identity}" />
        <column name="Url" layout="${aspnet-url}" />
        <column name="Logger" layout="${logger}" />
        <column name="Identity" layout="${aspnet-user-identity}" />
        <column name="SessionId" layout="${aspnet-request:cookie=ASP.NET_SessionId}" />
        <column name="Source" layout="${callsite}" />
        <column name="Level" layout="${level}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
        <column name="Ip" layout="${aspnet-request:serverVariable=remote_addr}" />
        <column name="UserAgent" layout="${useragent}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="PerfTest" minlevel="Info" writeTo="logfile" />
    <logger name="PerfTestCrash" minlevel="Info" writeTo="logfile_crash" />
  </rules>
</nlog>