<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />
    <target name="csv" xsi:type="File" fileName="csv.txt" keepFileOpen="true">
      <layout xsi:type="CsvLayout">
        <withHeader>true</withHeader>
        <column name="Date" layout="${date:universalTime=True:format=o}" />
        <column name="Server" layout="${machinename}" />
        <column name="Logger" layout="${logger}" />
        <column name="Source" layout="${callsite}" />
        <column name="Level" layout="${level}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="csv_crash" xsi:type="File" fileName="csv_crash.txt" keepFileOpen="true">
      <layout xsi:type="CsvLayout">
        <withHeader>true</withHeader>
        <column name="Date" layout="${date:universalTime=True:format=o}" />
        <column name="Server" layout="${machinename}" />
        <!--<column name="ThreadId" layout="${threadid}" />-->
        <column name="Application" layout="${mdlc:item=Application}" />
        <!--<column name="Version" layout="${gdc:item=Version}" />-->
        <column name="Logger" layout="${logger}" />
        <column name="Source" layout="${callsite}" />
        <column name="Level" layout="${level}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="plain_text_crash" xsi:type="File" fileName="plain_text_crash.txt" keepFileOpen="true" 
            layout="${date:universalTime=True:format=o} ${machinename} ${mdlc:item=Application} ${logger} ${callsite} ${level} ${message} ${exception:format=ToString}">
    </target>
    <target name="csv_withoutheader_crash" xsi:type="File" fileName="csv_withoutheader_crash.txt" keepFileOpen="true">
      <layout xsi:type="CsvLayout">
        <withHeader>false</withHeader>
        <column name="Date" layout="${date:universalTime=True:format=o}" />
        <column name="Server" layout="${machinename}" />
        <!--<column name="ThreadId" layout="${threadid}" />-->
        <column name="Application" layout="${mdlc:item=Application}" />
        <!--<column name="Version" layout="${gdc:item=Version}" />-->
        <column name="Logger" layout="${logger}" />
        <column name="Source" layout="${callsite}" />
        <column name="Level" layout="${level}" />
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="json_crash" xsi:type="File" fileName="json_crash.txt" keepFileOpen="true">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${date:universalTime=True:format=o}" />
        <attribute name="Server" layout="${machinename}" />
        <!--<attribute name="ThreadId" layout="${threadid}" />-->
        <attribute name="Application" layout="${mdlc:item=Application}" />
        <!--<attribute name="Version" layout="${gdc:item=Version}" />-->
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Source" layout="${callsite}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target xsi:type="Database" name="database_crash"
           connectionString="Data Source=.;Initial Catalog=LoggerPerfTest;Integrated Security=true"
           commandText="INSERT INTO Log (
                        [Date],  
                        [Thread], 
                        [Logger], 
                        [Message])
                 VALUES
                       (@Date
                       ,@Thread
                       ,@Logger
                       ,@Message)">
      <parameter name="@Date" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Thread" layout="${threadid}" size="50" />
      <parameter name="@Logger" layout="${mdlc:item=Application}" size="255"/>
      <parameter name="@Message" layout="${message}" size="-1" />
    </target>
    <target name="network_crash" type="Network" address="udp://127.0.0.1:514">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${date:universalTime=True:format=o}" />
        <attribute name="Server" layout="${machinename}" />
        <!--<attribute name="ThreadId" layout="${threadid}" />-->
        <attribute name="Application" layout="${mdlc:item=Application}" />
        <!--<attribute name="Version" layout="${gdc:item=Version}" />-->
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Source" layout="${callsite}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="PerfTest" minlevel="Info" writeTo="csv" />
    <logger name="PerfTestCrash" minlevel="Info" writeTo="plain_text_crash" />
  </rules>
</nlog>